/* Preset Style */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Helvetica', sans-serif;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.display-none{
    display: none;
}

/* Header */
header{
    background-color: rgba(0,0,0,.2);
    /* color: white; */
    position: relative;
    /* font-size: 32px; */

}
.header{
    text-align: right;
}
.nav-header{
    height: 15vh;
}
.logo-wrapper{
    text-align: center;
    padding-top: 18px;
}
.nav-image{
    width: 400px;
}
.logo-layer{
    /* background-image: url("../assets/logov1.png");
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center; */
}
/* .logo-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 25%;
}  */

/* Body */

.status-bar{
    /* opacity: 0; */
    height: 85vh;
}
.close{

}

img{
    width: 100px;

}
main{
    height: 100%;
    position: relative;
    display: flex;
}
.train-wrapper{
    /* flex: auto; */
    height: 100%;
    background-color: black;
    width: 65%;
}
.train-status{
    /* flex: auto; */
    padding-top: 25px;
    padding-left: 25px;
    /*text-align: center;*/
    max-height: 500px;
    width: 40%;
    background-color: white;
    overflow: scroll;
    /* border: 2px blue solid; */
}
.row:first-child{
    padding-top: 20px;
    padding-bottom: 0;
}
.row{
    padding: 15px;
    /* position: absolute; */
}
.row:last-child{
    padding-top: 0;
    /* padding-bottom: 0; */
}

a.mta-logo-link{
    height: 60px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: .2rem;
}
.item-container{
    display: inline-block;
    margin: 0 8px;
}
.set-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.set-item{
    max-width: 1400px;
    flex: none;
    text-align: center;
}
.set-wrapper{
    content: " ";
    display: block;
    clear: both;
}

/* Footer */

footer{
    background-color: rgba(0,0,0,1);
    text-align: center;
    position: relative;
}
.footer{
    height: 100%;
}
.footer p{
    padding-top: 5px;
    color: white;
}
