/* Preset Style */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Helvetica', sans-serif;
<<<<<<< HEAD
    background-color: black;
=======
    /* background-color: black; */
>>>>>>> a9547a64300531b88fdd7c499b3c7e4b2f205a35
    height: 100%;]
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.display-none{
    display: none;
}

/* Header */
header{
    background-color: rgba(0,0,0,.2);
    /* color: white; */
    position: relative;
    /* font-size: 32px; */

}
.header{
    text-align: right;
}
.nav-header{
    height: 15vh;
}
.logo-wrapper{
    text-align: center;
    padding-top: 18px;
}
.nav-image{
    width: 400px;
}

/* Body */

.status-bar{
    /* opacity: 0; */
    height: 85vh;
}
.close{

}

img{
    width: 100px;

}
main{
    height: 100%;
    display: flex;
    overflow: auto;
}
.train-wrapper{
    height: 100%;
    width: 65%;
}
.train-status{
    background-color: white;
    padding-top: 25px;
    padding-left: 25px;
    max-height: 500px;
    width: 40%;
    /* border: 2px blue solid; */
}
.train-status-inner{
    background-color: white;

}

.train-name{
    text-align: center;
    background-color: white;
}
.row:first-child{
    padding-top: 10px;
}
.row:last-child{
    padding-bottom: 10px;
    /* padding-bottom: 0; */
}

a.mta-logo-link{
    height: 60px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: .2rem;
}
.item-container{
    display: inline-block;
    margin: 0 3px;
}
.set-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.set-item{
    max-width: 1400px;
    flex: none;
    text-align: center;
}
.set-wrapper{
    content: " ";
    display: block;
    clear: both;
}

/* Footer */

footer{
    background-color: rgba(0,0,0,1);
    text-align: center;
    height: inherit;
}
.footer{
    /* position: absolute; */
    height: 100%;
}
.footer p{
    padding-top: 5px;
    color: white;
}
