<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <title>Metro Lifes</title>
        <link rel="stylesheet" href="../style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../main.js"></script>
    </head>
    <body>
        <header>
            <div class="nav-header">
                <div class="logo-wrapper">
                    <div class="nav-logo">
                        <div class="logo-layer">
                            <img class="nav-image" src="../assets/logov1.png" alt="">
                        </div>
                        <!-- <div class="logo-overlay"></div> -->
                    </div>
                </div>
                <!-- <div class="nav-half float-right">
                    <div class="nav-user">
                        Sign / Register
                    </div>
                </div> -->
            </div>
        </header>
        <!-- Dropdown Status -->
        <!-- <div class="status-bar display-none">
            <div class="">
                <h1>Train</h1>
            </div>
            <div class="close display-none">
                x
            </div>
        </div> -->
        <main>
            <div class="train-wrapper">
                <div class="row">
                    <div class="set-wrapper">
                        <div class="set-item">
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img id="test" src="../assets/1.png" alt="MTA 1 Train" >
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/2.png" alt="MTA 2 Train">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/3.png" alt="MTA 3 Train">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/4.png" alt="MTA 4 Train">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/5.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/6.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="set-wrapper">
                        <div class="set-item">
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/B.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/D.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/F.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/M.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/L.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/S.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="set-wrapper">
                        <div class="set-item">
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/N.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/R.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/Q.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/W.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/J.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/Z.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="set-wrapper">
                        <div class="set-item">
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/A.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/C.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/E.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/G.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="item-container">
                                <a class="mta-logo-link" href="#">
                                    <div class="train-logo-image">
                                        <img src="../assets/7.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="train-status">
                <div class="train-status-name">
                    <h1 class="train-name">Train Line</h1>
                </div>
                <div class="train-status-inner">

                    <p id="status_msg"></p>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer">
                <br />
                <p>&copy; CUNY Hackathon SP 2018 || By Team Metro-Life</p>
            </div>
        </footer>
    </body>
</html>
